<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.dingxinliang88.mapper.AlbumLikeMapper">

    <resultMap id="AlbumLikeMapper" type="io.github.dingxinliang88.pojo.po.AlbumLike">
        <id column="id" property="id"/>
        <result column="album_id" property="albumId"/>
        <result column="user_id" property="userId"/>
        <result column="score" property="score"/>
    </resultMap>
    <update id="updateScore">
        UPDATE album_like
        SET score = #{score}
        WHERE album_id = #{albumId} AND user_id = #{userId};
    </update>
    <delete id="deleteByAlbumIdAndUserId">
        DELETE
        FROM album_like
        WHERE album_id = #{albumId} AND user_id = #{userId};
    </delete>
    <select id="queryByAlbumIdAndUserId" resultType="io.github.dingxinliang88.pojo.po.AlbumLike">
        SELECT id, album_id, user_id, score
        FROM album_like
        WHERE album_id = #{albumId} AND user_id = #{userId};
    </select>
    <select id="listMyLikedAlbum" resultType="io.github.dingxinliang88.pojo.vo.album.AlbumInfoVO">
        SELECT album.album_id, name, company, band_name, avg_score
        FROM album
        WHERE album_id IN
        (SELECT album_id FROM album_like WHERE user_id = #{userId})
        AND album.is_release = 1 AND album.is_delete = 0;
    </select>


</mapper>
