<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.dingxinliang88.mapper.AlbumLikeMapper">

    <resultMap id="AlbumLikeMapper" type="io.github.dingxinliang88.pojo.po.AlbumLike">
        <id column="id" property="id"/>
        <result column="album_id" property="albumId"/>
        <result column="user_id" property="userId"/>
        <result column="score" property="score"/>
    </resultMap>


</mapper>
