<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.dingxinliang88.mapper.BandMapper">

    <resultMap id="BandMapper" type="io.github.dingxinliang88.pojo.po.Band">
        <id column="band_id" property="bandId"/>
        <result column="name" property="name"/>
        <result column="found_time" property="foundTime"/>
        <result column="leader_id" property="leaderId"/>
        <result column="profile" property="profile"/>
        <result column="member_num" property="memberNum"/>
        <result column="is_release" property="isRelease"/>
        <result column="is_delete" property="isDelete"/>
    </resultMap>
    <update id="updateMemberNum">
        UPDATE band SET member_num = member_num + #{incr} WHERE band_id = #{bandId};
    </update>
    <update id="updateLeaderId">
        UPDATE band SET leader_id = #{leaderId} WHERE band_id = #{bandId};
    </update>
    <update id="disband">
        UPDATE band SET member_num = 0, leader_id = NULL, is_delete = 1 WHERE band_id = #{bandId};
    </update>
    <update id="editInfo" parameterType="io.github.dingxinliang88.pojo.dto.band.EditBandReq">
        UPDATE band SET profile = #{profile} WHERE band_id = #{bandId} AND is_delete = 0;
    </update>
    <update id="updateReleaseStatusByBandId">
        UPDATE band SET is_release = #{release} WHERE band_id = #{bandId} AND is_delete = 0;
    </update>
    <update id="unReleaseBandInfo">
        UPDATE band SET is_release = 0 WHERE band_id = #{bandId} AND is_delete = 0;
    </update>
    <select id="listBandInfo" resultType="io.github.dingxinliang88.pojo.po.Band">
        SELECT band_id, name, found_time, leader_id, member_num
        FROM band
        WHERE is_release = 1 AND is_delete = 0;
    </select>
    <select id="queryBandInfoVOByBandId" resultType="io.github.dingxinliang88.pojo.vo.band.BandDetailsVO">
        SELECT band.band_id AS `band_id`, band.name AS name, found_time, member.`name` AS leader_name,
        member_num, band.profile AS profile, band.is_release AS is_release
        FROM band, member
        WHERE band.band_id = #{bandId}
        AND band.leader_id = member.member_id
        AND band.is_delete = 0
        AND member.is_delete = 0
        <if test="not inner">
            AND band.is_release = 1;
        </if>
    </select>
    <select id="queryByBandId" resultType="io.github.dingxinliang88.pojo.po.Band">
        SELECT band_id, name, found_time, leader_id, profile, member_num,is_release, is_delete
        FROM band
        WHERE is_delete = 0 AND band_id = #{bandId}
        <if test="not inner">
            AND is_release = 1
        </if>;
    </select>
    <select id="queryByLeaderId" resultType="io.github.dingxinliang88.pojo.po.Band">
        SELECT band_id, name, found_time, leader_id, profile, member_num, is_release, is_delete
        FROM band
        WHERE is_delete = 0 AND (leader_id = #{leaderId})
        <if test="not inner">
            AND is_release = 1
        </if>;
    </select>
    <select id="queryCurrBandReleaseStatus" resultType="java.lang.Integer">
        SELECT is_release FROM band WHERE band_id = #{bandId} AND is_delete = 0;
    </select>
    <select id="queryByBandName" resultType="io.github.dingxinliang88.pojo.po.Band">
        SELECT band_id, name, found_time, leader_id, profile, member_num, is_release, is_delete
        FROM band
        WHERE is_delete = 0 AND name = #{bandName}
        <if test="not inner">
            AND is_release = 1
        </if>;
    </select>


</mapper>
