<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.dingxinliang88.mapper.BandLikeMapper">

    <resultMap id="BandLikeMapper" type="io.github.dingxinliang88.pojo.po.BandLike">
        <id column="band_id" property="bandId"/>
        <id column="user_id" property="userId"/>
    </resultMap>


</mapper>
