<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.dingxinliang88.mapper.BandMapper">

    <resultMap id="BandMapper" type="io.github.dingxinliang88.pojo.po.Band">
        <id column="band_id" property="bandId"/>
        <result column="name" property="name"/>
        <result column="found_time" property="foundTime"/>
        <result column="leader_id" property="leaderId"/>
        <result column="profile" property="profile"/>
        <result column="member_num" property="memberNum"/>
        <result column="is_release" property="isRelease"/>
        <result column="is_delete" property="isDelete"/>
    </resultMap>
    <update id="updateMemberNum">
        UPDATE band SET member_num = member_num + #{incr} WHERE band_id = #{bandId};
    </update>
    <update id="updateLeaderId">
        UPDATE band SET leader_id = #{leaderId} WHERE band_id = #{bandId};
    </update>
    <update id="disband">
        UPDATE band SET member_num = 0, leader_id = NULL, is_delete = 1 WHERE band_id = #{bandId};
    </update>
    <update id="editInfo" parameterType="io.github.dingxinliang88.pojo.dto.band.EditBandReq">
        <trim prefix="UPDATE band SET " suffix="WHERE band_id = #{bandId} AND is_delete = 0;" suffixOverrides=",">
            <if test="profile != null">
                profile = #{profile},
            </if>
        </trim>
    </update>
    <select id="queryByBandIdInner" resultType="io.github.dingxinliang88.pojo.po.Band">
        SELECT band_id, name, found_time, leader_id, profile, member_num, is_delete
        FROM band
        WHERE is_delete = 0 AND band_id = #{bandId};
    </select>
    <select id="queryByLeaderIdInner" resultType="io.github.dingxinliang88.pojo.po.Band">
        SELECT band_id, name, found_time, leader_id, profile, member_num, is_delete
        FROM band
        WHERE is_delete = 0 AND (leader_id = #{leaderId});
    </select>

</mapper>
