<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.dingxinliang88.mapper.ConcertMapper">

    <resultMap id="ConcertMapper" type="io.github.dingxinliang88.pojo.po.Concert">
        <id column="concert_id" property="concertId"/>
        <result column="name" property="name"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="band_id" property="bandId"/>
        <result column="band_name" property="bandName"/>
        <result column="place" property="place"/>
        <result column="max_num" property="maxNum"/>
        <result column="song_ids" property="songIdsStr"/>
        <result column="is_release" property="isRelease"/>
        <result column="is_delete" property="isDelete"/>
    </resultMap>
    <update id="editInfo">
        <trim prefix="UPDATE concert SET "
              suffix="WHERE concert_id = #{concertId} AND band_id = #{bandId} AND is_delete = 0;"
              suffixOverrides=",">
            <if test="name != null">
                name = #{name},
            </if>
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
            <if test="endTime != null">
                end_time = #{endTime},
            </if>
            <if test="place != null">
                place = #{place},
            </if>
            <if test="songIdsStr != null">
                song_ids = #{songIdsStr},
            </if>
            <if test="maxNum != null">
                max_num = #{maxNum}
            </if>
        </trim>
    </update>
    <update id="updateReleaseStatusByBandId">
        UPDATE concert SET is_release = #{release} WHERE band_id = #{bandId} AND concert_id = #{concertId} AND is_delete
        = 0;
    </update>
    <update id="updateReleaseStatusByConcertId">
        UPDATE concert SET is_release = #{release} WHERE concert_id = #{concertId} AND is_delete = 0;
    </update>
    <select id="listConcertInfoVO" resultType="io.github.dingxinliang88.pojo.vo.concert.ConcertInfoVO">
        SELECT concert_id, name, start_time, end_time, place, band_name, max_num
        FROM concert
        WHERE is_release = 1 AND is_delete = 0;
    </select>
    <select id="queryConcertByBandId" resultType="io.github.dingxinliang88.pojo.vo.concert.ConcertInfoVO">
        SELECT concert_id, name, start_time, end_time, place, band_id, band_name, max_num
        FROM concert
        WHERE band_id = #{bandId} AND is_delete = 0;
    </select>
    <select id="queryByConcertId" resultType="io.github.dingxinliang88.pojo.po.Concert">
        SELECT concert_id, name, start_time, end_time, place, band_name, max_num, song_ids AS song_ids_str
        FROM concert
        WHERE concert_id = #{concertId} AND is_delete = 0
        <if test="not inner">
            AND is_release = 1
        </if>
    </select>

</mapper>
