<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.dingxinliang88.mapper.ConcertJoinMapper">

    <resultMap id="ConcertJoinMapper" type="io.github.dingxinliang88.pojo.po.ConcertJoin">
        <id column="id" property="id"/>
        <result column="concert_id" property="concertId"/>
        <result column="user_id" property="userId"/>
    </resultMap>
    <select id="queryByConcertIdAndUserId" resultType="io.github.dingxinliang88.pojo.po.ConcertJoin">
        SELECT id, concert_id, user_id
        FROM concert_join
        WHERE concert_id = #{concertId}
        AND user_id = #{userId};
    </select>
    <select id="queryNumByConcertId" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM concert_join
        WHERE concert_id = #{concertId};
    </select>


</mapper>
